body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 16px;
    }

    .details p {
        font-size: 16px;
    }

    .confirm-button {
        padding: 8px 15px;
        font-size: 14px;
    }

    img {
        max-width: 90%;
    }
}
.img-container {
    text-align: center;
    margin-top: 20px;
}

.img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
